{%extends 'base.html'%} {%block body%}
<div class="grid-x margin-3 align-center card padding-3">
  <div class="cell large-12">
    <h1 class="text-center">Welcome to Inventory Management System</h1>
    <p class="text-justify">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non libero dolores voluptatibus deserunt assumenda, facilis ut dignissimos ad. Unde, dolore veritatis debitis earum error reiciendis a libero ratione
      similique corrupti? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo minus aut suscipit. Ratione minus unde nemo at, placeat, obcaecati, quam consectetur ab odio fugiat ea. Explicabo cupiditate
      natus est architector! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eveniet consectetur quae placeat sed voluptates quis possimus esse hic distinctio. Est accusamus quod suscipit commodi dolores
      sequi esse quo. Quisquam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non libero dolores voluptatibus deserunt assumenda, facilis ut dignissimos ad. Unde, dolore veritatis debitis earum error
      reiciendis a libero ratione similique corrupti? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo minus aut suscipit. Ratione minus unde nemo at, placeat, obcaecati, quam consectetur ab odio
      fugiat ea. Explicabo cupiditate natus est architector! Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eveniet consectetur quae placeat sed voluptates quis possimus esse hic distinctio. Est accusamus
      quod suscipit commodi dolores sequi esse quo. Quisquam!
    </p>
  </div>
</div>
{%endblock%}
